<h3>Introduction to the Workshop Series</h3>
<p>May 4, 2026 1:00pm - 2:00pm EDT (10:00am - 11:00am PDT)</p>
<p>We will use this one hour session to introduce the course instructors and helpers, and review setup instructions to make sure everyone is able to open the correct software on their machine.</p>
<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>May 7, 2026</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:00pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/01-rstudio-intro.html">Intro to R and RStudio</a></td>        <!-- content -->
      </tr>
            <tr>
        <td></td>
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/instructor/02-project-intro.html">Project Management with RStudio</a></td>
      </tr>
            <tr>
        <td></td>
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/instructor/03-seeking-help.html">Seeking Help</a></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:00pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:30pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/instructor/04-data-structures-part1.html">Data Structures</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>5:00pm</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>May 14, 2026</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>1:00pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/instructor/05-data-structures-part2.html">Exploring Data Frames</a></td>        <!-- content -->
      </tr>
      <tr>
        <td></td>
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/instructor/06-data-subsetting.html">Subsetting Data</a></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:00pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:30pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/instructor/07-control-flow.html">Control Flow</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>5:00pm</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>May 21, 2026</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>1:00pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/instructor/08-plot-ggplot2.html">Creating Publication-Quality Graphics</a></td>        <!-- content -->
      </tr>
      <tr>
        <td></td>
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/instructor/09-vectorization.html">Vectorization</a></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:00pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:30pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/instructor/10-functions.html">Functions Explained</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>5:00pm</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>May 28, 2026</h3>
    <table class="table table-striped">
      <tr>               <!-- row 2   -->
        <td>1:00pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/instructor/11-writing-data.html">Writing Data</a></td>        <!-- content -->
      </tr>
      <tr>
        <td></td>
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/instructor/12-dplyr.html">Data Frame Manipulation with dplyr</a></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:00pm</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:30pm</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/instructor/13-tidyr.html">Data Frame Manipulation with tidyr</a></td>        <!-- content -->
      </tr>
      <tr>
        <td></td>
        <td><a href="https://swcarpentry.github.io/r-novice-gapminder/instructor/15-wrap-up.html">Writing Good Software</a></td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>5:00pm</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
